body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border-style: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* <!-- --------HEADER--------- --> */

.header {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-span {
  color: #2e2f42;
}

.header-navigation-list {
  display: none;
  gap: 40px;
}

.header-navigation-item {
}

.header-navigation-link {
  display: block;
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link:hover,
.header-navigation-link:focus,
.header-navigation-link:active {
  color: #404bbf;
}

.header-blue-link {
  position: relative;
  color: #404bbf;
}

.header-blue-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-adress {
  display: none;
  font-style: normal;
  margin-left: auto;
}

.header-adress-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.header-adress-item {
}

.header-adress-link {
  color: #434455;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: #404bbf;
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.burger-icons {
  fill: #2f2f37;
  stroke: #2f2f37;
}

/* <!-- --------------------- --> */
/* <!-- --------HERO--------- --> */

.section-hero {
  margin: 0 auto;
  background-color: #2e2f42;
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    image-set(
      url(../images/Hero/Dark-bgmob1x.webp) 1x,
      url(../images/Hero/Dark-bgmob2x.webp) 2x
    );
}

.container-hero {
  padding: 72px 75px;
}

.hero-title {
  max-width: 288px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* <!-- ------------------------- --> */
/* <!-- --------FEATURES--------- --> */

.section-features {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.features-item {
}

.features-svg-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.features-subtitle {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* <!-- --------------------- --> */
/* <!-- --------TEAM--------- --> */

.section-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-item {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
}
.team-img {
}

.team-item-text {
  padding: 32px 0;
}

.team-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.soc-team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.soc-team-item {
  width: 40px;
  height: 40px;
}

.soc-team-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-team-link:hover,
.soc-team-link:focus {
  background-color: #404bbf;
}

.soc-icons {
  fill: #f4f4fd;
}

/* <!-- -------------------------- --> */
/* <!-- --------PORTFOLIO--------- --> */

.section-portfolio {
  padding: 96px 0;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-direction: column;
  flex-wrap: wrap;
}
.portfolio-item {
  border: 1px solid var(--CLOUD, #f4f4fd);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-text {
  padding: 32px 16px;
  border-top: none;
}

.portfolio-img {
}
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}
.portfolio-img {
}
.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}

/* <!-- ----------------------- --> */
/* <!-- --------FOOTER--------- --> */

.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

.container-footer {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  text-align: start;
}

.logo-container-footer {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}

.soc-footer-container {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
}
.soc-text-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.soc-footer-list {
  display: flex;
  gap: 16px;
}
.soc-footer-item {
  width: 40px;
  height: 40px;
}
.soc-footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-footer-link:hover,
.soc-footer-link:focus {
  background-color: #31d0aa;
}
.soc-icons-footer {
  fill: #f4f4fd;
}

.form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.footer-form-container {
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.form-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.form-input::placeholder {
  color: #ffffff;
}
.form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:active {
  background-color: #31d0aa;
}

.form-icons-footer {
  margin-left: 16px;
  fill: #fff;
}

/* -------------------------- */
/* ------MODAL-BACKDROP------ */

.modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-backdrop {
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  background-color: #404bbf;
  border: none;
}

.form-icons-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .form-icons-close,
.close-modal:focus .form-icons-close {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-container {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.container-form-svg {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.form-icons-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .form-icons-input {
  fill: #404bbf;
}

.comment-container {
  margin-bottom: 16px;
}

.comment-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgb(27, 27, 40);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area:focus {
  border-color: #4d5ae5;
}

.policy-container {
  margin-bottom: 24px;
}

.label-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.accept-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.policy-checkbox:checked + .label-policy .accept-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-link {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 24px;
}

.accept-btn {
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept-btn:hover,
.accept-btn:active {
  background-color: #404bbf;
}

/* --------MOB MENU------- */

.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: -100%;
  transition: transform 300ms ease-in-out;
}

.mob-menu.active {
  transform: translateX(-100%);
}

.container-mob-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px 16px 40px 16px;
}

.contacts-container {
}
.close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu:hover,
.close-menu:focus {
  background-color: #ced1f6;
  border: none;
}

.form-icons-close {
}
.menu-list {
}
.menu-item {
}

.menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-adress {
}
.menu-adress-list {
  margin-bottom: 48px;
}
.menu-adress-item {
}
.menu-adress-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-adress-link:hover,
.menu-adress-link:focus {
  color: #404bbf;
}

.menu-adress-item:not(:last-child) {
  margin-bottom: 24px;
}
.menu-soc-team-list {
  display: flex;
  gap: 40px;
}
.menu-soc-team-item {
  width: 40px;
  height: 40px;
}
.menu-soc-team-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-soc-team-link:hover,
.menu-soc-team-link:focus {
  background-color: #404bbf;
}
.menu-soc-icons {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  /* ------HEDER TAB------ */

  .container {
    max-width: 768px;
  }

  .header-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-navigation-list {
    display: flex;
  }

  .header-navigation {
    gap: 120px;
  }

  .header-adress {
    display: flex;
  }

  .header-adress-link {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
  }

  .burger-btn {
    display: none;
  }

  /* -------HERO TAB------ */

  .section-hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url(../images/Hero/Dark-bghero1x-tab.webp) 1x,
        url(../images/Hero/Dark-bghero2x-tab.webp) 2x
      );
  }
  .container-hero {
    padding: 112px 136px;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  /* -------FEATURES TAB------ */
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-subtitle {
    text-align: unset;
  }

  .features-text span {
    display: block;
  }

  /* ------TEAM TAB---- */

  .team-list {
    flex-direction: row;
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /* ------PORTFOLIO TAB------- */

  .portfolio-list {
    flex-direction: row;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /* ------FOOTER TAB-----  */

  .container-footer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 96px;
  }

  .logo-container-footer {
    margin: unset;
    text-align: unset;
  }

  .soc-footer-container {
    margin: unset;
    text-align: unset;
  }

  .footer-form-container {
    margin: unset;
  }

  .form-text {
    text-align: unset;
  }

  /* -----MODAL TAB------ */

  .modal-backdrop {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }

  .policy-link {
    margin-left: unset;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  /* ------HEADER DESK------ */

  .header-navigation {
    gap: 76px;
  }

  .header-adress-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* -------HERO DESK-------- */

  .container-hero {
    padding: 188px 0;
  }

  .section-hero {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url(../images/Hero/hero1x-desk.webp) 1x,
        url(../images/Hero/hero2x-desk.webp) 2x
      );
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* ------FEATURES DESK------ */

  .section-features {
    padding: 120px 0;
  }

  .features-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .features-svg-container {
    display: flex;
  }

  .features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .features-text {
    font-weight: 400;
    letter-spacing: 0.019em;
  }

  /* -------TEAM DESK------- */

  .section-team {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }

  /* -----PORTFOLIO DESK----- */

  .section-portfolio {
    padding: 120px 0 120px 0;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  /* ------FOOTER DESK------- */

  .footer {
    padding: 100px 0;
  }

  .container-footer {
    padding: unset;
    gap: unset;
  }

  .logo-container-footer {
    margin-right: 120px;
  }

  .form-input {
    width: 264px;
  }

  .footer-form-container {
    margin-left: auto;
  }
}
